#component {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#component:hover {
  cursor: pointer;
  #delete {
    display: flex;
  }
}

#delete {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
}

.editContainer {
  width: 100%;
  background: var(--accent-color);
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  justify-content: flex-start;
}

.editContainer:hover {
  background-color: red;
}

.editLabel {
  width: 20%;
}

.editTextArea {
  width: 50%;
  font-family: monospace;
}

.editPreview {
  font-size: 14px;
  font-family: monospace;
}

.orderContainer {
  display: flex;
}

.orderControls {
  margin: 4px;
  font-size: 18px;
}

.orderControls:hover {
  color: red;
}
