#component {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#component:hover {
    cursor: pointer;
    #delete {
        display: flex;
    }
}

#delete {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
}

.editContainer {
    background: var(--accent-color);
    padding: 4px;
    border-radius: 4;
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.editLabel {
    width: 20%;
}

.editTextArea {
    width: 80%;
}
