@import "../index.css";
#component {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--base-color);
  border-right: 2px solid white;
  height: 100vh;
}

.dbSection {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 4px;
  width: 90%;
  background-color: var(--base-tertiary);
  color: white;
  text-decoration: none;
}

.dbSection:hover {
  background: grey;
  /* background: var(--accent-color); */
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}
